* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
   
  body{
      background: #174459;
  }
  .menu {
    height: 150px;
    overflow: hidden;
    position: relative;
    width: 100%;
  }
   
  .nav {
    left: 0; 
    margin: 20px auto;
    max-width: 1000px;
    position: absolute; /*Sirve para darle el tamaño al menu y el posicionamiento*/
    right: 0;
    top: -20px;
    width: 90%;
  }
   
  .nav .ul {
    list-style: none;
  }
   
  .nav > .ul {
    background-color: #052738; /*Le da el fondo al menu*/ 
    display: table;
    position: relative;
    width: 100%;
  }
   
  .nav > .ul .li {
    display: table-cell;
  }
   
  /*Sub-menu*/
  .nav > .ul > .li:hover > .ul {
    display: block;
    height: 100%;
  }
   
  .nav > .ul > .li > .ul {
    background-color: #052738; /*Le da el fondo al submenu*/
    display: block;
    height: 0%;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    transition: all .3s ease;
  }
   
  .nav > .ul .li .links {
    color: #ffffff;
    display: block;
    line-height: 20px;
    padding: 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: all .3s ease;
  }
   
  .nav > .ul > .li > .ul > .li .links:hover {
    background-color: #323544; /*Le da el fondo en el submenu cuando se hace el hover */
  }
   
  .nav > .ul > .li > .links .span {
    background-color: #174459;
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: -55px;
    transition: all .3s ease;
    width: 100%;
  }
   
  .nav > .ul > .li > .links .span .icon {
    display: block;
    line-height: 60px;
  }
   
  .nav > .ul > .li > .links:hover > .span {  
    top: 0;  /*Es el que hace que bajen los iconos al hacerle hover al texto*/
  }
   
  /*Colores*/
  .nav .ul .li .links .first {
    background-color: #25275e;
  }
   
  .nav .ul .li .links .second {
    background-color: #51577a;
  }
   
  .nav .ul .li .links .third {
    background-color: #25275e;
  }
   
  .nav .ul .li .links .fourth {
    background-color: #51577a;
  }
   
section{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
table{
  border: black 4px solid;
}
.fixed_footer{
  width: 100%;
  height: 350px;
  background: #0a2a43;
  position: fixed; left: 0; bottom: 0;
  z-index: -100;
}
   .fixed_footer p{
    color: #696969;
    column-count: 2;
    column-gap: 50px;
    font-size: 1em;
    font-weight: 300;
  }