
.tabla, table{
    margin-left: 10%;
	background-color: white;
	text-align: center;
	border-collapse: collapse;
	width: 80%;
}
.tabla{
	background-color: transparent;
}
th, td{
	padding: 10px;
}

thead, tfoot{
	background-color: #174459;
	border-bottom: solid 5px #0f1036;
	color: white;
}
tr:nth-child(even){
	background-color: #81807c;
}

/*tr:hover td{
	background-color: #9b90b3;
	color: white;
}
*/
