/*variables*/


body {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    align-items: center;
    justify-content: center;

  }
  textarea{      
    overflow: scroll;
    resize: none;;
}
  h1 {
    margin: 0 auto 40px;
    color: $blanco;
    font: 20px Helvetica;
    text-transform: uppercase;
    letter-spacing: 3px;
  }
  
  form {
    margin-left: 10%;
    display: grid;
    -ms-grid-columns: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 100px;
    grid-auto-rows: minmax(100px, auto);
    align-items: center;
    align-self: center;
    label {
      position: relative;
      display: block;
      select{        
        font: 18px $font;
        box-sizing: border-box;
        display: block;
        border: none;
        padding: 18px;
        width: 300px;
        margin-bottom: 20px;
        font-size: 18px;
        outline: none;
        transition: all 0.2s ease-in-out;
        }
      input {
        font: 18px $font;
        box-sizing: border-box;
        display: block;
        border: none;
        padding: 18px;
        width: 300px;
        margin-bottom: 20px;
        font-size: 18px;
        outline: none;
        transition: all 0.2s ease-in-out;
        
        &::placeholder {
          transition: all 0.2s ease-in-out;
          color: $inputPHoverColor;
          font: 18px $font;
        }
        
        &:focus, &.populated {
          padding-top: 28px;
          padding-bottom: 12px;
          
          &::placeholder {
            color: transparent;
          }
          
          & + span {
            opacity: 1;
            top: 10px;
          }
        }
      }

      //Comprobar

      span {
        color: $spanColor ;
        font: 13px $font;
        position: absolute;
        top: 0px;
        left: 20px;
        opacity: 0;
        transition: all 0.2s ease-in-out;
      
    }

    }
    
    input[type="submit"] {
      transition: all 0.2s ease-in-out;
      font: 18px $font;
      border: none;
      background: $inputFileColorSecondary;
      color: $blanco;
      padding: 16px 40px;
      
      &:hover {
        background: $inputSubmitHoverColor;
      }
    }
  }

  //Añadidos 
  //mixin a box shadow
  
  input[type="file"]
{ 
  font: 1em arial;
  display: inline-block;
  color: $blanco;
  padding: 0.4em 1em 0.3em;
  text-transform: uppercase;
  box-shadow: 
    0 0.2em 0  $inputFileColorPrimary, 
    0 0.3em 0.5em rgba(0,0,0,.3);
  background:  $inputFileColorPrimary;
  transform: translateY(-0.2em);
}

input[type="file"]
:hover
{ 
  box-shadow: 
    0 0.35em 0 $inputFileColorPrimary, 
    0 0.4em 0.5em rgba(0,0,0,.3);
  background: $inputFileColorSecondary;
  transform: translateY(-0.35em);
}

  input[type="file"]
:active
{ 
  box-shadow: 
    0 0em 0 $inputFileColorSecondary, 
    0 0em 0em rgba(0,0,0,.3);
  background: $inputFileColorSecondary;
  transform: translateY(0em);
}
