//colores
$textColor:#fff;
$labelColor:rgb(199, 183, 183);
$inputFormBorder:rgba(255, 255, 255, 0.18);
$inputFormBgColorFocus: rgba(209, 192, 192, 0.582);
$inputSubmitBgColor:rgb(85, 78, 78);
.flex-column-centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#login{
  position: absolute;
  display: flex;
  justify-content: center;
  top: 5vh;
  z-index: 5;
}
.login-div {
  min-height: 100vh;



  form {
    padding: 20px 0;
    position: relative;
    z-index: 2;

    input[type="text"],
    input[type="password"] {
      margin: 0.5rem auto;
      background: $inputFormColor;
      @include box-shadow( 0 8px 32px 0 $inputFormColor);
      backdrop-filter: blur(4px);
      -webkit-backdrop-filter: blur(4px);
      border-radius: 10px;
      border: 1px solid $inputFormBorder;
      padding: 1em;
      width: 400px;
      outline: none;
      color: $textColor;
    }

    input[type="text"]:focus,
    input[type="password"]:focus {
      background-color: $inputFormBgColorFocus;
      color: $textColor;

    }

    input[type="submit"] {
      background: $inputSubmitBgColor;
      color: $textColor;
      border-radius: 5px;
      margin: 0.5rem auto;
      padding: 0.5rem;
      width: 250px;
      border: none;
    }

    input[type="submit"]:active {
      transform: scale(0.95);
    }

    input[type="text"]::placeholder,
    input[type="password"]::placeholder {
      color: $textColor;
    }
  }

  .text-center {
    text-align: center;
    color: $labelColor;
  }
  .text-center:active {
    transform: scale(0.99);


  }

  a {
    text-decoration: none;
    color: $textColor;
  }

}